body {
  font-family: sans-serif;
  color: #fff;
  background-color: hsl(0, 3%, 8%);
}

a {
  text-transform: uppercase;
  color: #ec1d24;
  text-decoration: none;
}

header {
  padding: 1rem;
}

main {
  padding: 1rem;
}
